[Unit]
Description=Button Ctrl Service
Wants=mapper-wait@-xyz-openbmc_project-led-groups.service
After=mapper-wait@-xyz-openbmc_project-led-groups.service
StartLimitIntervalSec=0

[Service]
Type=simple
ExecStart=/usr/bin/button_ctrl.sh
