[Match]
Name=eth0
[Network]
LinkLocalAddressing=yes
IPv6AcceptRA=true
DHCP=ipv6
[IPv6AcceptRA]
DHCPv6Client=true
[Address]
Address=192.168.8.22/24
[Route]
Gateway=192.168.8.1
[DHCP]
ClientIdentifier=mac
UseDNS=true
UseNTP=true
UseHostname=true
SendHostname=true

