// SPDX-License-Identifier: GPL-2.0+
/dts-v1/;
#include "aspeed-g5.dtsi"
#include <dt-bindings/gpio/aspeed-gpio.h>
#include <dt-bindings/i2c/i2c.h>

/ {
	model = "Zvezda Iridium 64MiB BMC";
	compatible = "zvezda,iridium64-bmc", "aspeed,ast2500";

	aliases {
		serial0 = &uart1;
		serial4 = &uart5;
	};

	chosen {
		stdout-path = &uart5;
		bootargs = "console=ttyS4,115200 earlyprintk";
	};

	memory@80000000 {
		reg = <0x80000000 0x20000000>;
	};

  reserved-memory {
        #address-cells = <1>;
        #size-cells = <1>;
        ranges;

        vga_memory: framebuffer@9f000000 {
        no-map;
        reg = <0x9f000000 0x01000000>; /* 16M */
	};

        gfx_memory: framebuffer {
                size = <0x01000000>;
                alignment = <0x01000000>;
                compatible = "shared-dma-pool";
                reusable;
        };

        video_engine_memory: jpegbuffer {
                size = <0x02000000>;    /* 32M */
                alignment = <0x01000000>;
                compatible = "shared-dma-pool";
                reusable;
                };
        };

        iio-hwmon {
                compatible = "iio-hwmon";
		io-channels = <&adc 0>, <&adc 1>, <&adc 2>, <&adc 3>,
		              <&adc 4>, <&adc 5>, <&adc 6>, <&adc 7>;
	};
};

&fmc {
	status = "okay";
	flash@0 {
		status = "okay";
		m25p,fast-read;
#include "openbmc-flash-layout-64.dtsi"
	};
};

&spi1 {
	status = "okay";
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_spi1_default>;
	flash@0 {
		status = "okay";
		m25p,fast-read;
		label = "pnor";
	};
};

&uart1 {
	status = "okay";
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_txd1_default
		     &pinctrl_rxd1_default>;
};

&uart5 {
	status = "okay";
};

&gpio {
	status = "okay";
	pinctrl-names = "pass-through";
    pinctrl-0 = <&pinctrl_gpid0_default
                    &pinctrl_gpid2_default>;


	gpio-line-names =
	/*A0-A7*/	"","","","","","","","",
	/*B0-B7*/	"","","","","","","","",
	/*C0-C7*/	"","","","","","","","",
	/*D0-D7*/	"POWER_BUTTON","POWER_OUT","RESET_BUTTON","RESET_OUT",
			"NMI_BUTTON","NMI_OUT","PS_PWROK","",
	/*E0-E7*/	"","","","","","","","",
	/*F0-F7*/	"","","","SPI_SW_SELECT","","","","",
	/*G0-G7*/	"","","","","","","","",
	/*H0-H7*/	"","","","","ID_BUTTON","","UID_LED","",
	/*I0-I7*/	"","","","","","","","",
	/*J0-J7*/	"","","","","","","","",
	/*K0-K7*/	"","","","","","","","",
	/*L0-L7*/	"","","","","","","","",
	/*M0-M7*/	"","","","","","","","",
	/*N0-N7*/	"","","","","","","","",
	/*O0-O7*/	"","","","","","","","",
	/*P0-P7*/	"","","","","","","","",
	/*Q0-Q7*/	"","","","","","","","",
	/*R0-R7*/	"","","","","","","","",
	/*S0-S7*/	"","","","","","","","",
	/*T0-T7*/	"","","","","","","","",
	/*U0-U7*/	"","","","","","","","",
	/*V0-V7*/	"","","","","","","","",
	/*W0-W7*/	"","","","","","","","",
	/*X0-X7*/	"","","","","","","","",
	/*Y0-Y7*/	"","SIO_S5","","SIO_ONCONTROL","","","","",
	/*Z0-Z7*/	"","SIO_POWER_GOOD","","","","","","",
	/*AA0-AA7*/	"","","","","","","","",
	/*AB0-AB7*/	"POST_COMPLETE","","","","","","","",
	/*AC0-AC7*/	"","","","","","","","";
};

&mac0 {
	status = "okay";

	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_rmii1_default>;
	clocks = <&syscon ASPEED_CLK_GATE_MAC1CLK>,
		 <&syscon ASPEED_CLK_MAC1RCLK>;
	clock-names = "MACCLK", "RCLK";
	use-ncsi;
};

&mac1 {
	status = "okay";

	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_rmii2_default>;
	use-ncsi;
};

&adc {
	status = "okay";
};

&peci0 {
    status = "okay";
    peci-client@30 {
        compatible = "intel,peci-client";
        reg = <0x30>;
    };
    peci-client@31 {
        compatible = "intel,peci-client";
        reg = <0x31>;
    };
};

&i2c0 {
	status = "okay";
	ipmb0@10 {
		compatible = "ipmb-dev";
		reg = <(0x10 | I2C_OWN_SLAVE_ADDRESS)>;
		i2c-protocol;
	};

};

&i2c1 {
	status = "okay";
};

&i2c2 {
	status = "okay";
	eeprom@50 {
		compatible = "atmel,24c128";
		reg = <0x50>;
	};
};

&i2c3 {
        status = "okay";
        lm95241@19 {
                compatible = "ti,lm95241";
                reg = <0x19>;
        };

        lm95241@2a {
                compatible = "ti,lm95241";
                reg = <0x2a>;
        };

        lm95241@2b {
                compatible = "ti,lm95241";
                reg = <0x2b>;
        };
};

&i2c4 {
        status = "okay";
};

&i2c5 {
	status = "okay";
};

&i2c6 {
	status = "okay";
};

&i2c7 {
	status = "okay";
};

&i2c8 {
	status = "okay";
};

&i2c9 {
	status = "okay";
};

&vuart {
        status = "okay";
        aspeed,sirq-active-high;
};

&vhub {
        status = "okay";
};

&video {
        status = "okay";
        memory-region = <&video_engine_memory>;
};

&pwm_tacho {
	status = "okay";
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_pwm0_default
				&pinctrl_pwm1_default
				&pinctrl_pwm2_default
				&pinctrl_pwm3_default
				&pinctrl_pwm4_default
				&pinctrl_pwm5_default
				&pinctrl_pwm6_default>;

	fan@0 {
		reg = <0x00>;
		aspeed,fan-tach-ch = /bits/ 8 <0x00>;
	};

	fan@1 {
		reg = <0x00>;
		aspeed,fan-tach-ch = /bits/ 8 <0x01>;
	};

	fan@2 {
		reg = <0x01>;
		aspeed,fan-tach-ch = /bits/ 8 <0x02>;
	};

	fan@3 {
		reg = <0x01>;
		aspeed,fan-tach-ch = /bits/ 8 <0x03>;
	};

	fan@4 {
		reg = <0x02>;
		aspeed,fan-tach-ch = /bits/ 8 <0x04>;
	};

	fan@5 {
		reg = <0x02>;
		aspeed,fan-tach-ch = /bits/ 8 <0x05>;
	};

	fan@6 {
		reg = <0x03>;
		aspeed,fan-tach-ch = /bits/ 8 <0x06>;
	};
};
