[Unit]
Description=Set version
After=xyz.openbmc_project.Software.BMC.Updater.service

[Service]
ExecStart=/usr/bin/set-version
Type=one-shot

[Install]
WantedBy=multi-user.target
